<ul class="list-group">
    <div class="main_section">
        <div class="col-md-3 col-sm-4 chat_sidebar">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Conversation" />
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="member_list scroll-bar">
                    <ul class="list-unstyled">
                        <li *ngIf="feedsloading == true" class="text-center block">
                            <div class="loader" style="margin-left: 44%;"></div>
                        </li>
                        <li *ngFor="let feed of feeds" class="left clearfix list-group-item" (click)="setCurrentFeedItem(feed)" [class.active]="feed.id == currentFeed.id">
                            <span class="chat-img pull-left">
                                <img src="{{feed.picture}}" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header_sec">
                                    <strong class="primary-font">{{feed.fullName}}</strong>
                                    <span class="pull-right" style="font-size: 10px;">{{feed.timestamp}}</span>
                                </div>
                                <div class="contact_sec">
                                    <span class="primary-font">{{feed.text}}</span>
                                    <span class="label label-sm pull-right" [class.label-success]="feed.label == 'good'" [class.label-warning]="feed.label == 'maybe'"
                                        [class.label-danger]="feed.label == 'nope'" [class.label-default]="feed.label == 'none'">
                                        {{feed.label}}</span> &nbsp; &nbsp;
                                    <span class="glyphicon glyphicon-calendar pull-right"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--chat_sidebar-->

        <div class="col-md-6 col-sm-8">
            <div class="row">
                <div class="new_message_head">
                    <div *ngIf="currentFeed != null || currentFeed != undefined" class="text-center">
                        <h3>{{currentFeed.fullName}}</h3>
                    </div>

                    <!--new_message_head-->

                    <div class="chat_area scroll-bar">
                        <ul class="list-unstyled">
                            <li class="left clearfix" *ngFor="let thread of threads">
                                <span class="chat-img1" [class.pull-left]="thread.side == 'left'" [class.pull-right]="thread.side == 'right'">
                                    <img src="{{thread.picture}}" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body1 clearfix">
                                    <p style="font-weight:normal !important;">{{thread.text}}</p>
                                    <span style="font-size: 9px; font-weight:normal !important;" [class.pull-right]="thread.side == 'left'" [class.pull-left]="thread.side == 'right'">{{thread.timestamp}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--message_section-->
        </div>
        <div class="col-md-3 col-sm-12">
            <h3>Actions</h3>
            <hr/>
            <div *ngIf="currentFeed != null || currentFeed != undefined">
                <strong>{{currentFeed.fullName}}:
                    <span class="label label-sm" [class.label-success]="currentFeed.label == 'good'" [class.label-warning]="currentFeed.label == 'maybe'"
                        [class.label-danger]="currentFeed.label == 'nope'" [class.label-default]="currentFeed.label == 'none'">
                        {{currentFeed.label}}</span>
                </strong>
                <br/>
                <form class="form">
                    <label>Update label</label>
                    <br/>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-xs btn-success" (click)="updateLabel('good')">Good</button>
                        <button type="button" class="btn btn-xs btn-warning" (click)="updateLabel('maybe')">Maybe</button>
                        <button type="button" class="btn btn-xs btn-danger" (click)="updateLabel('nope')">Nope</button>
                        <button type="button" class="btn btn-xs btn-defalt" (click)="updateLabel('none')">None</button>
                    </div>
                </form>

                <hr/>

                <h3>Set appointment here</h3>
            </div>
        </div>
</ul>