<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default" style="margin-top: 100px;">
                <div class="panel-heading text-center">
                    <h3>Instagram Messenger</h3>
                </div>
                <div class="panel-body">
                    <form class="form">
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" #username type="text" placeholder="IG username" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" #password type="password" placeholder="IG password" />
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" (click)="login(username.value,password.value)">Login</button>
                        </div>
                        <br/>
                        <div class="text-center">
                            <p style="color: red;">{{error}}</p>
                        </div>
                        <div *ngIf="loading == true" class="text-center block">
                            <div class="loader" style="margin-left: 44%;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>